.tituloy{
	position: absolute;
	top: 6%;
	font-size: 500%;
	color:#AF60E2;
	font-family: titulop1;
	left: 38%;
	z-index: 1;
}
.titulo1{
	position: absolute;
	top: 18%;
	font-size: 475%;
	color:#AF60E2;
	font-family: titulop2;
	-webkit-text-stroke: 2px black;
 	color: #4CD1F1; 
	left: 27.5%;
	z-index: 1;
}
@font-face{
	font-family: titulop1;
	src: url(titulo1.ttf);
}

@font-face{
	font-family: titulop2;
	src: url(titulo2.otf);
}
{

	background-image: url(fondo.png); 
	width: 100%;
}