
.p
{
    position: absolute;
	display: block;
	top: 35%;
	background-color: #F7819F;
	border-radius: 30px 30px 30px / 30px 30px;
	width: 200px;
	height: 70px;
	text-align: center;
	left: 10%;

}
#boton1{ 
    margin-left:  12px;
    margin-top: -5px;
    position: absolute;
    color: black;
    font-size: 230%;
    font-family: cursive;
    text-decoration: none;
}


#boton1
{
    position: absolute;
	display: block;
	top: 35%;
	background-color: #DAA4FF;
	border-radius: 30px 30px 30px / 30px 30px;
	width: 200px;
	height: 70px;
	text-align: center;
	left: 10%;
}

#boton1:hover
{
    position: absolute;
	display: block;
	top: 35%;
	background-color: #EF8E69;
	border-radius: 30px 30px 30px / 30px 30px;
	width: 200px;
	height: 70px;
	text-align: center;
	left: 10%;
	   }
#boton2{ 
    margin-left:  12px;
    margin-top: -5px;
    position: absolute;
    color: black;
    font-size: 230%;
    font-family: cursive;
    text-decoration: none;
}

#boton2
{
    position: absolute;
	display: block;
	top: 35%;
	background-color: #DAA4FF;
	border-radius: 30px 30px 30px / 30px 30px;
	width: 200px;
	height: 70px;	;
	text-align: center;
	left: 30%;
}
.boton2:hover
{
    position: absolute;
	display: block;
	top: 35%;
	background-color: #DAA4FF;
	border-radius: 30px 30px 30px / 30px 30px; // cambiar color
	height: 70px;	;
	text-align: center;
	left: 30%;
}
#boton3{ 
    margin-left:  12px;
    margin-top: -5px;
    position: absolute;
    color: black;
    font-size: 230%;
    font-family: cursive;
    text-decoration: none;
}

#boton3
{
    position: absolute;
	display: block;
	top: 50%;
	background-color: #DAA4FF;
	border-radius: 30px 30px 30px / 30px 30px;
	width: 200px;
	height: 70px;	;
	text-align: center;
	left: 10%;
}
#boton3:hover
{
    position: absolute;
	display: block;
	top: 50%;
	background-color: #EF8E69; // cambiar color
	border-radius: 30px 30px 30px / 30px 30px;
	width: 200px;
	height: 70px;	;
	text-align: center;
	left: 10%;
}
#boton4{ 
    margin-left:  12px;
    margin-top: -5px;
    position: absolute;
    color: black;
    font-size: 230%;
    font-family: cursive;
    text-decoration: none;
}

#boton4
{
    position: absolute;
	display: block;
	top: 50%;
	background-color: #DAA4FF;
	border-radius: 30px 30px 30px / 30px 30px;
	width: 200px;
	height: 70px;	;
	text-align: center;
	left: 30%;
}
#boton4:hover
{
    position: absolute;
	display: block;
	top: 50%;
	background-color: #EF8E69; // cambiar color
	border-radius: 30px 30px 30px / 30px 30px;
	width: 200px;
	height: 70px;	;
	text-align: center;
	left: 30%;
}
.a {
 
  position: absolute;
  right:410px;
  top:67px;
  width:515px;
  font-family: cursive;
  font-size:50px;
 color:#884EA0;
}
.b{
  background-color: #AED6F1;
  right:410px;
  top:410px;
width:1360px;
  height: 650px;
}
.c{
	position: absolute;
	background-color:#F5EA9E;
  right:8px;
  top:80px;
width:90000px;
  height: 60px;
}
.d{
position: absolute;
background-color:#ED83D2;
right:5px;
  top:510px;
width:2000px;
  height: 50px;
}
.e{
 position: absolute;
  right:320px;
  top:495px;
  width:500px;
  font-family: cursive;
  font-size:50px;
 color:#3E95EA;
}

.info2{
position: absolute;
	top: 140px;
	left: 900px;
	width: 250px;
	height: 300px;
}






